pip                             24.0
requests                        2.31.0   
robotframework                  7.0        
robotframework-faker            5.0.0      
robotframework-jsonlibrary      0.5             
robotframework-requests         0.9.6                 
setuptools                      69.2.0
urllib3                         2.2.1